# Ignore image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.tif
*.svg
*.ico
*.heic
*.avif
*.raw
*.psd
*.xcf

# Ignore video files
*.mp4
*.m4v
*.mkv
*.mov
*.avi
*.wmv
*.flv
*.webm
*.mpeg
*.mpg
*.3gp
*.ogv
*.mts
*.m2ts
*.ts

# But do not ignore them inside the media folder
!media/
!media/**/*.*
